<!DOCTYPE html>
<html  lang="en">
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BAS Admin</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- JQuery library -->
  <script type="text/javascript" src="/javascript_files/jquery-1.11.3.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- JQuery form actions -->
  <script type="text/javascript" src="/javascript_files/jquery.validate.js"></script>
</head>
<body>
  <div class="container">
    <h1>Bay Area Spooglers Admin</h1>
    <a href="#" id="show" class="btn btn-default">Show Filters</a>
    <a href="#" id="apply" class="btn btn-default">Apply Filters</a>
    <a href="#" id="hide" class="btn btn-default">Hide Filters</a>
    <a href="{{ logout_url }}" class="btn btn-info">Sign out</a>

    <div style="background-color: #ffffcc; margin-top: 10px; margin-bottom:10px padding:10px; border-width: 1px; border-style: solid; border-color: #cc6600; height: 300px; overflow: auto;" id="filters">
      <form action="" method="post" id="filters_form">
        <div class="checkbox">
          <label><input type="checkbox" id="not_added_website" name="not_added_website" value="1"> Not added to website</label>
        </div>
        {% include 'form.html' %}
      </form>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Website</th>
          <th>FB</th>
          <th>FB Kids</th>
          <th>Date Subscribed</th>
          <th>Status</th>
          <th>Name</th>
          <th>Email</th>
          <th>Facebook email</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in query %}
          <tr>
            <th>
              {% if entry.status != 0 %}
                <input type="checkbox" class="google_site" id="gs{{loop.index0}}" name="gs{{loop.index0}}" value="{{entry.spoogler_email}}">
              {% endif %}
            </th>
            <th>
              {% if entry.status != 0 %}
                <input type="checkbox" class="facebook" id="f{{loop.index0}}" name="f{{loop.index0}}" value="{{entry.spoogler_email}}">
              {% endif %}
            </th>
            <th>
              {% if entry.status != 0 %}
                <input type="checkbox" class="facebookKids" id="fk{{loop.index0}}" name="fk{{loop.index0}}" value="{{entry.spoogler_email}}">
              {% endif %}
            </th>
            <th>{{entry.date_created}}</th>
            <th>{{status_list[entry.status][1]}}</th>
            <th>{{entry.full_name}}</th>
            <th>{{entry.spoogler_email}}</th>
            <th>{{entry.spoogler_fb_email}}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="text/javascript" language="javascript">
    $(document).ready(function() {
      $(".facebook").click(function(){
        $.ajax({
          method: "POST",
          url: "admin/facebook",
          data: { spoogler_email: $(this).val(), action: this.checked }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg );
        });
      });

      $("#show").click(function(){
          $("#filters").show();
      });
      $("#hide").click(function(){
        $("#filters").hide();
      });
      $("#filters").hide();

      $("#apply").click(function(){
        $("#filters_form").submit();
      });
    });
  </script>
</body>
</html>
