<!DOCTYPE html>
<html  lang="en">
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS style file for the form -->
  <meta>
    <link rel="stylesheet" type="text/css" href="javascript_files/css/admin.css">
  </meta>

  <title>BAS Admin</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- JQuery library -->
  <script type="text/javascript" src="/javascript_files/jquery-1.11.3.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- JQuery form actions -->
  <script type="text/javascript" src="/javascript_files/jquery.validate.js"></script>
</head>
<body>
  <div class="container">
    <h1>Bay Area Spooglers Admin</h1>
    <p>Welcome {{ user.nickname() }}.</p>
    <a href="#" id="show" class="btn btn-default">Show Filters</a>
    <a href="#" id="apply" class="btn btn-default">Apply Filters</a>
    <a href="#" id="hide" class="btn btn-default">Hide Filters</a>
    <a href="{{ logout_url }}" class="btn btn-info">Sign out</a>

    <div style="background-color: #ffffcc; margin-top: 10px; margin-bottom:10px padding:10px; border-width: 1px; border-style: solid; border-color: #cc6600; height: 300px; overflow: auto;" id="filters">
      <form action="" method="post" id="filters_form">
        <div class="checkbox">
          <label><input type="checkbox" id="show_all_cols" name="show_all_cols" value="1" {% if show_all_cols %}checked{% endif %}> Show all columns</label><br>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="show_only_active" name="show_only_active" value="1" {% if show_only_active %}checked{% endif %}> Show only active members</label><br>
        </div>
        <label class="control-label" for="not_on_google_group">Social media options:</label>
        <div class="radio">
          <label><input type="radio" id="not_on_google_group" name="not_on_groups" value="1" {% if not_on_groups == 1 %}checked{% endif %}> Not added to Google group</label><br>
          <label><input type="radio" id="not_on_facebook" name="not_on_groups" value="2" {% if not_on_groups == 2 %}checked{% endif %}> Not added to Facebook<br></label><br>
          <label><input type="radio" id="not_on_fb_kidsZone" name="not_on_groups" value="3" {% if not_on_groups == 3 %}checked{% endif %}> Not added to Facebook KidsZone</label><br>
          <label><input type="radio" id="clear_social_media_options" name="not_on_groups" value="0" {% if not_on_groups == 0 %}checked{% endif %}> Clear social media options</label>
        </div>
        <label class="control-label" for="show_only_email">Show email list:</label>
        <div class="radio">
          <label><input type="radio" id="show_only_email" name="email_lists" value="1" {% if email_lists == 1 %}checked{% endif %}> Primary email</label><br>
          <label><input type="radio" id="show_only_fb_email" name="email_lists" value="2" {% if email_lists == 2 %}checked{% endif %}> Facebook account email</label><br>
          <label><input type="radio" id="clear_list_options" name="email_lists" value="0" {% if email_lists == 0 %}checked{% endif %}> Clear list options</label>
        </div>
        {% include 'form.html' %}
      </form>
    </div>
    <div class="table-responsive">
    {% if email_lists == 1 %}
      <table class="table table-striped" style="float:left">
        <thead>
          <tr>
            <th style="vertical-align:top">Primary Email List</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {% for email in emails_list %}
                {{email}},
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    {% elif email_lists == 2 %}
      <table class="table table-striped" style="float:left">
        <thead>
          <tr>
            <th style="vertical-align:top">Facebook Account Email List</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {% for fb_email in fb_emails_list %}
                {{fb_email}},
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="vertical-align:top; width:100%">Last Modified by</th>
            <th style="vertical-align:top">Google Group</th>
            <th style="vertical-align:top">Member since</th>
            <th style="vertical-align:top">Facebook</th>
            <th style="vertical-align:top">Member since</th>
            <th style="vertical-align:top">Facebook KidsZone</th>
            <th style="vertical-align:top">Member since</th>
            <th style="vertical-align:top; width:100%">Signup Date</th>
            <th style="vertical-align:top">Status</th>
            <th style="vertical-align:top">Name</th>
            <th style="vertical-align:top">Email</th>
            <th style="vertical-align:top">Facebook email</th>
            {% if show_all_cols %}
              <th style="vertical-align:top">Googler</th>
              <th style="vertical-align:top">Googler's Ldap</th>
              <th style="vertical-align:top">Country of origin</th>
              <th style="vertical-align:top">U.S. State</th>
              <th style="vertical-align:top">Work status</th>
              <th style="vertical-align:top">English proficiency</th>
              <th style="vertical-align:top">Preferred Language</th>
              <th style="vertical-align:top">Region</th>
              <th style="vertical-align:top">Time in the Bay Area</th>
              <th style="vertical-align:top">Challenges during relocation</th>
              <th style="vertical-align:top">Support groups</th>
              <th style="vertical-align:top">Facebook KidsZone signup</th>
              <th style="vertical-align:top">Children age group</th>
            {% else %}
              {% if native_lang != 0 %}
                <th style="vertical-align:top">Preferred Language</th>
              {% endif %}
              {% if address != 0 %}
                <th style="vertical-align:top">Region</th>
              {% endif %}
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for entry in query %}
            <tr {% if entry.status == 0 %}class="danger"{% endif %}>
              <td>
                {% if entry.status != 0 and entry.ambassador != "" %}
                  {{entry.ambassador}}
                {% endif %}
              </td>
              <td>
                {% if entry.status != 0 %}
                  <input type="checkbox" class="on_google_group" id="on_gg{{loop.index0}}" name="on_gg{{loop.index0}}" value="{{entry.googler_ldap}}" {%if entry.on_google_group %}checked disabled{% endif %}>
                {% endif %}
              </td>
              <td>
                {% if entry.status != 0 %}
                  {{entry.on_google_group_date}}
                {% endif %}
              </td>
              <td>
                {% if entry.status != 0 %}
                  <input type="checkbox" class="on_facebook" id="on_facebook{{loop.index0}}" name="on_facebook{{loop.index0}}" value="{{entry.googler_ldap}}" {%if entry.on_facebook %}checked disabled{% endif %}>
                {% endif %}
              </td>
              <td>
                {% if entry.status != 0 %}
                  {{entry.on_facebook_date}}
                {% endif %}
              </td>
              <td>
                {% if entry.status != 0 %}
                  <input type="checkbox" class="on_fb_kidsZone" id="on_fb_kidsZone{{loop.index0}}" name="on_fb_kidsZone{{loop.index0}}" value="{{entry.googler_ldap}}" {%if entry.on_fb_kids %}checked disabled{% endif %}>
                {% endif %}
              </td>
              <td>
                {% if entry.status != 0 %}
                  {{entry.on_fb_kids_date}}
                {% endif %}
              </td>
              <td>{{entry.date_created}}</td>
              <td>{{status_list[entry.status][1]}}</td>
              <td>{{entry.full_name}}</td>
              <td>{{entry.spoogler_email}}</td>
              <td>{{entry.spoogler_fb_email}}</td>
              {% if show_all_cols %}
                <td>{{entry.googler_full_name}}</td>
                <td>{{entry.googler_ldap}}</td>
                {% if entry.spoogler_country != 0 %}
                  <td>{{countries_list[entry.spoogler_country][1]}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if entry.spoogler_us_state != 0%}
                  <td>{{us_states_list[entry.spoogler_us_state][1]}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                {%if entry.work_status != 0 %}
                  <td>{{work_status_list[entry.work_status][1]}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                {%if entry.english_proficiency != 0 %}
                  <td>{{proficiency_list[entry.english_proficiency][1]}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                {%if entry.native_lang != 0 %}
                  <td>{{languages_list[entry.native_lang][1]}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                {%if entry.address != 0 %}
                  <td>{{address_list[entry.address][1]}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                {%if entry.time_in_area != 0 %}
                  <td>{{times_list[entry.time_in_area][1]}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                <td>{{entry.spoogler_relo}}</td>
                {% if entry.support_others %}
                  <td>
                    <ul style="padding-left:10px">
                    {% for support_group in entry.support_others %}
                      <li>{{ support_other_list[support_group][1] }}</li>
                    {% endfor %}
                    {% if entry.support_others_other %}
                      <li>{{ entry.support_others_other }}</li>
                    {% endif %}
                    </ul>
                  </td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if entry.kidszone_invite %}
                  <td>Yes</td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if entry.children_ages %}
                  <td>
                    <ul style="padding-left:10px">
                    {% for age in entry.children_ages %}
                      <li>{{ children_ages_list[age][1] }}</li>
                    {% endfor %}
                    </ul>
                  </td>
                {% else %}
                  <td></td>
                {% endif %}
              {% else %}
                {% if native_lang != 0 %}
                  <td>{{languages_list[entry.native_lang][1]}}</td>
                {% endif %}
                {% if address != 0 %}
                  <td>{{address_list[entry.address][1]}}</td>
                {% endif %}
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}
  </div>
  <script type="text/javascript" language="javascript">
    $(document).ready(function() {
      $(".on_google_group").click(function(){
        var on_gg = $(this)
        $.ajax({
          method: "POST",
          url: "admin/google_group",
          data: { googler_ldap: on_gg.val(), status: this.checked }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg );
          if(msg.indexOf("Error") == 0) {
            on_gg.attr("checked", false);
          } else {
            on_gg.attr("disabled", true);
          }
        });
      });

      $(".on_facebook").click(function(){
        var on_fb = $(this)
        $.ajax({
          method: "POST",
          url: "admin/facebook",
          data: { googler_ldap: on_fb.val(), status: this.checked }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg );
          if(msg.indexOf("Error") == 0) {
            on_fb.attr("checked", false);
          } else {
            on_fb.attr("disabled", true);
          }
        });
      });

      $(".on_fb_kidsZone").click(function(){
        var on_fb_kids = $(this)
        $.ajax({
          method: "POST",
          url: "admin/fb_kids",
          data: { googler_ldap: on_fb_kids.val(), status: this.checked }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg );
          if(msg.indexOf("Error") == 0) {
            on_fb_kids.attr("checked", false);
          } else {
            on_fb_kids.attr("disabled", true);
          }
        });
      });

      $("#show").click(function(){
          $("#filters").show();
      });
      $("#hide").click(function(){
        $("#filters").hide();
      });
      $("#filters").hide();

      $("#apply").click(function(){
        $("#filters_form").submit();
      });

        var other_native_lang = $("#native_lang_other")
        other_native_lang.hide();
        var other_address = $("#other_address")
        other_address.hide();
        var moving_challenge = $("#spoogler_relo")
        moving_challenge.hide();
        var other_type_events = $("#event_types_other")
        other_type_events.hide();
        var support_other = $("#support_types_other")
        support_other.hide();
        var support_others_other = $("#support_others_other")
        support_others_other.hide();
    });
  </script>
</body>
</html>
