    <!-- BASIC INFORMATION -->
    <div id="basic_info">
      <!-- Spoogler's Full Name -->
      <div class="form-group {% if full_name_error %} has-error{% endif %}">
        <label class="control-label required" for="full_name">*Spoogler's Full Name: </label>
          <input type="text" class="form-control" id="full_name" name="full_name" value="{{ full_name }}" />
      </div>
        <div class="errorTxt"></div>
      <!-- Spoogler's email -->
      <div class="form-group {% if spoogler_email_error %} has-error{% endif %}">
        <label class="control-label required" for="spoogler_email">*Spoogler's primary email: </label>
        <input type="text" class="form-control" id="spoogler_email" name="spoogler_email" value="{{ spoogler_email }}" />
      </div>
      <!-- Spoogler's Facebook email -->
      <div class="form-group {% if fb_email_error %} has-error {% endif %}">
        <label class="control-label" for="spoogler_fb_email">If you (the Spoogler) have a Facebook account, what is the email you use for that account?</label><br>
        <label><input type="checkbox" id="same_as_spoogler_email" name="same_as_spoogler_email" value="1" {% if same_as_spoogler_email %}checked{% endif %}>I use my primary email</label><br>
        <input type="text" class="form-control" id="spoogler_fb_email" name="spoogler_fb_email" value="{% if same_as_spoogler_email %}{{spoogler_email}}{% else %}{{spoogler_fb_email}}{% endif %}" {% if same_as_spoogler_email %}disabled{% endif %}/>
      </div>
      <!-- Googler's full name -->
      <div class="form-group">
        <label class="control-label" for="spoogler_fb_email">Googler's full name: </label>
        <input type="text" class="form-control" id="googler_full_name" name="googler_full_name" value="{{ googler_full_name }}" />
      </div>
      <!-- Googler's ldap -->
      <div class="form-group {% if googler_ldap_error or ldap_at_sign_error %} has-error has-feedback{% endif %}">
        <label class="control-label required" for="googler_ldap">*Googler's ldap: </label>
        <div class="input-group">
          <input type="text" class="form-control" id="googler_ldap" name="googler_ldap" value="{{ googler_ldap }}" aria-describedby="basic-addon2" />
          <span class="input-group-addon" id="basic-addon2">@google.com</span>
        </div>
      </div>
    </div>
    <!-- LANGUAGE AND WORK STATUS -->
    <div id="language_work">
      <!-- Spoogler's country of origin: -->
      <div class="form-group">
        <label class="control-label" for="spoogler_country">Spoogler's country of origin:</label>
        <select class="form-control" id="spoogler_country" name="spoogler_country">
          {% for country in countries_list %}
          <option value="{{ country[0] }}" {% if country[0] == spoogler_country %}selected{% endif %}>{{ country[1] }}</option>
          {% endfor %}
        </select>
        <label class="control-label" for="spoogler_us_state" id="spoogler_us_state_label">State:</label>
        <select class="form-control" id="spoogler_us_state" name="spoogler_us_state">
          {% for state in us_states_list %}
          <option value="{{ state[0] }}" {% if state[0] == spoogler_us_state %}selected{% endif %}>{{ state[1] }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Spoogler's current work status: -->
      <div class="form-group">
        <label class="control-label" for="work_status">Spoogler's current work status:</label>
        <select class="form-control" id="work_status" name="work_status">
          {% for status in work_status_list %}
          <option value="{{ status[0] }}" {% if status[0] == work_status %}selected{% endif %}>{{ status[1] }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Spoogler's English language proficiency -->
      <div class="form-group">
        <label class="control-label">Spoogler's English language proficiency: </label>
        <div class="form-group">
          <select class="form-control" id="english_proficiency" name="english_proficiency">
            {% for proficiency in  proficiency_list %}
            <option value="{{ proficiency[0] }}" {% if proficiency[0] == english_proficiency %}selected{% endif %}>{{ proficiency[1] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- Spoogler's preferred or native language -->
      <div class="form-group">
        <label class="control-label" for="native_lang">Spoogler's preferred or native language: </label>
        <select class="form-control" id="native_lang" name="native_lang">
          {% for language in languages_list %}
          <option value="{{ language[0] }}" {% if language[0] == native_lang %}selected{% endif %}>{{ language[1] }}</option>
          {% endfor %}
        </select>
        <input type="text" class="form-control" id="native_lang_other" name="native_lang_other" value="{{ native_lang_other }}" placeholder="Please specify..."/>
      </div>
    </div>
    <!-- DEMOGRAPHICS -->
    <div id="demographics">
      <!-- Where do you live in the Bay Area? -->
      <div class="form-group">
        <label class="control-label" for="address">Where do you live in the Bay Area? (See a description of the Bay Area regions <a target="_blank" href="https://en.wikipedia.org/wiki/San_Francisco_Bay_Area#Sub-regions">here</a>)</label>
        <select class="form-control" id="address" name="address">
          {% for option in address_list %}
          <option value="{{ option[0] }}" {% if option[0] == address %}selected{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
        <input type="text" class="form-control" id="other_address" name="other_address" value="{{ other_address }}" placeholder="Please specify..."/>
      </div>
      <!-- How long have you been in the Bay Area? -->
      <div class="form-group">
        <label class="control-label" for="time_in_area">How long have you been in the Bay Area?</label>
        <select class="form-control" id="time_in_area" name="time_in_area">
          {% for time in times_list %}
          <option value="{{ time[0] }}" {% if time[0] == time_in_area %}selected{% endif %}>{{ time[1] }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- What have you found challenging about your relocation to the Bay Area? -->
      <div class="form-group">
        <label class="control-label" for="spoogler_relo">What have you found most challenging about your relocation to the Bay Area?</label>
        <input type="text" class="form-control" id="spoogler_relo" name="spoogler_relo" value="{{ spoogler_relo }}" />
      </div>
    </div>
    <!-- CHILDREN AND SUPPORT SERVICES -->
    <div id="children_support">
      <!-- What other forms of support do you have or will you access? -->
      <div class="form-group">
        <label class="control-label" for="support_others">What other forms of support do you have or will you access? Select all that apply.</label>
        {% for other in support_other_list %}
        <div class="checkbox">
          <label><input type="checkbox" id="support_others" name="support_others" value="{{ other[0] }}" {% if other[0] in support_others %}checked{% endif %}> {{ other[1] }}</label>
        </div>
        {% endfor %}
        <input type = "text" class="form-control" id="support_others_other" name="support_others_other" value="{{ support_others_other }}" placeholder="Other..." />
      </div>
      <!-- If you have any children or are planning to have children, would you like to join our Facebook KidsZone group? -->
      <div class="form-group {% if kidszone_invite_error %} has-error {% endif %}">
        <label class="control-label required" for="kidszone_invite">*If you have children or are expecting, would you like to join our Facebook KidsZone group?</label>
        <select class="form-control" id="kidszone_invite" name="kidszone_invite">
          {% for option in kidszone_options_list %}
          <option value="{{ option[0] }}" {% if option[0] == kidszone_invite %}selected{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- If you have any children, please select their age group: -->
      <div class="form-group">
        <label class="control-label" for="children_ages">If you have any children, please select their age group:</label>
        {% for age in children_ages_list %}
        <div class="checkbox">
          <label><input type="checkbox" id="children_ages" name="children_ages" value="{{ age[0] }}" {% if age[0] in children_ages %}checked{% endif %}> {{ age[1] }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
