<!DOCTYPE html>
<html  lang="en">
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BAS Join</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- JQuery library -->
  <script type="text/javascript" src="/javascript_files/jquery-1.11.3.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- JQuery form actions -->
  <script type="text/javascript" src="/javascript_files/jquery.validate.js"></script>

  <!-- CSS style file for the form -->
  <meta>
    <link rel="stylesheet" type="text/css" href="javascript_files/css/form.css">
  </meta>

</head>
<body {% if successful_submission %}onload="showAlert()"{% endif %}>
  <div class="container">
    <h1>Request to join the Bay Area Spooglers Group</h1>
    <p>Welcome {{ user.nickname() }}<br>
    You can <a href="{{ logout_url }}"> sign out here.</a></p>
    <p>Spooglers are partners/spouses of Googlers.</p>
    <p>This form is for Spooglers who have recently relocated to the Bay Area.</p>
    <p>Please fill in the information below if you are interested in joining 
    the Bay Area Spooglers Group to connect with other Spooglers from the Bay Area.
      You will be added to the group once your information is verified.</p>
    <p class="important">You will be added to the group once your information is verified by
      your Googler. After you fill out this form, your Googler will receive an email with a request to
      confirm that you are a Spoogler from the Bay Area.</p>
    <p class="important">Don't forget to ask your Googler to check his Spam folder in case
      the confirmation email skips his/her inbox.</p>
    <p>Many of the group's activities are planned based on your response to 
    this form.</p>
    <p><b>Disclaimer:<br>We will never share your information in any way with anybody else outside
      of this group and we will only use it for activities inside this group.</b></p>
    <p>If you experience any technical difficulties while filling out this form,
    please contact us at <b><a href="mailto:bayareaspooglers.webmaster@gmail.com?subject=Problem%20while%20filling%20out%20the%20Spooglers%20form&amp;body=Please%20describe%20the%20problem%20here">
        bayareaspooglers.webmaster@gmail.com</a></b></p>
    
    <p class="required">* Required</p>
    
    {% if not valid_form %}
      <p style="color:red"><b>There are errors in the form.</b></p>
      {% if spoogler_email_duplicate %}
        <p style="color:red">Spoogler email address already exists.</p>
      {% endif %}
      {% if fb_email_duplicate %}
        <p style="color:red">Facebook email address already exists.</p>
      {% endif %}
      {% if ldap_at_sign_error %}
        <p style="color:red">Please write the Googler's ldap without the "@google.com".</p>
      {% endif %}
      {% if googler_ldap_error and googler_ldap_duplicate %}
        <p style="color:red">Googler's ldap already exists. If you are trying with the correct Googler's ldap and still receive this message, contact us: bayareaspooglers.webmaster@gmail.com</p>
      {% endif %}
      {% if kidszone_invite_error and kidszone_invite == 0 %}
        <p style="color:red">Please indicate if you want to join our Facebook KidsZone group.</p>
      {% endif %}
      {% if kidszone_invite_error and fb_email_error %}
        <p style="color:red">In order to be invited to our KidsZone group, please provide the email you use for your Facebook account.</p>
      {% endif %}
    {% endif %}
    

  <form action="" method="post" id="signup">
    {% include 'form.html' %}
    <input type="hidden" name="test" id="test" value="{{test}}" />
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-lg btn-primary" id="submit">Submit</button>
    </div>
  </form>
  </div>
  
  <script type="text/javascript" language="javascript">
    function showAlert() {
        var string = "Thank you for filling out the membership form. A confirmation email " +
        "has been sent to {{confirmation_ldap}}@google.com\n\n" +
        "Please remind your Googler to check his Spam folder if " +
        "this email doesn't appear on his/her Inbox."
        alert(string);
    }
  </script>
</body>
  <script script type="text/javascript" src="/javascript_files/form.js"></script>
</html>
