<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>BAS Join</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
</head>
<body {% if successful_submission %}onload="showAlert()"{% endif %}>
  <div class="container">  
    <h1>Request to join the Bay Area Spooglers Group</h1>
    
    <p>This form is for partners/spouses of Googlers who have recently 
    relocated to the Bay Area.</p>
    <p>Please fill in the information below if you are interrested in joining 
    the Bay Area Spooglers Group to connect with other Spooglers. You will be 
    added to the group once your information is verified.</p>
    <p>Many of the group's activities are planned based on your response to 
    this form.</p>
    
    <p><b>* Required</b></p>
    
    {% if not valid_form %}
        <p style="color:red"><b>There are errors in the form.</b></p>
        {% if spoogler_email_duplicate %}
            <p style="color:red">Spoogler email address already exists.</p>
        {% endif %}
        {% if googler_ldap_error and not googler_ldap_duplicate %}
            <p style="color:red">Please write the Googler's ldap without the "@google.com".</p>
        {% endif %}
        {% if googler_ldap_error and googler_ldap_duplicate %}
            <p style="color:red">Googler's ldap already exists. If you are trying with the correct Googler's ldap and still receive this message, contact us: bayareaspooglers.webmaster@gmail.com</p>
        {% endif %}
    {% endif %}
    
    
    <form role="form" class="form-horizontal" action="" method="post">
      <div class="form-group {% if first_name_error %} has-error {% endif %}">
        <label class="control-label col-sm-3" for="first_name">*Spoogler's First Name: </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}" />
        </div>
      </div>
      <div class="form-group {% if last_name_error %} has-error {% endif %}">
        <label class="control-label col-sm-3" for="last_name">*Spoogler's Last Name: </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}" />
        </div>
      </div>
      <div class="form-group {% if spoogler_email_error %} has-error {% endif %}">
        <label class="control-label col-sm-3" for="spoogler_email">*Spoogler's email: </label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="spoogler_email" name="spoogler_email" value="{{ spoogler_email }}" />
        </div>
      </div>
      <div class="form-group {% if googler_ldap_error %} has-error {% endif %}">
       <label class="control-label col-sm-3" for="googler_ldap">*Googler's ldap: </label>
       <div class="col-sm-5">
         <input type="text" class="form-control" id="googler_ldap" name="googler_ldap" value="{{ googler_ldap }}" />
       </div>
       <div class="col-sm-3">
         <label class="control-label col-sm-3" for="">@google.com</label>
       </div>
      </div>
      <div class="col-md-4 text-center">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
    </form>
  </div>
  
     <script>
    function showAlert() {
        alert("Thank you for filling out the membership form. A confirmation email has been sent to the @google.com email of the Googler.");  
    }
  </script>
  
</body>
</html>
